$color-yellow: #fdcb00;
$color-purple: #8d1fbb;
$color-red: #e32821;
$color-blue: #20559b;
$color-blue-light: #2a7ff1;
$color-blue-dark: #122f54;

$color-rank-a: #fdef22;
$color-rank-b: #f26f22;
$color-rank-c: #31f83a;
$color-rank-d: #3deafa;
$color-rank-e: #aeadb3;
$color-rank-s: #336bd3;
